body {
  font-family: "Lato";
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wrap {
  width: 100%;
  overflow: hidden;
}

.inner_contents {
  width: 1100px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  padding: 15px 0;
  z-index: 10;
}


.bolt {
  color: #4e4e4e;
  font-size: 40px;
}

.icon_box {
  float: left;
}

.menu_text {
  font-size: 12px;
  font-family: "Raleway";
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
  float: right;
  transition: 0.3s;
}

.menu_text:hover {
  color: #333;
}

.hamburger {
  width: 30px;
  float: right;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display:none;
}

.patti {
  height: 3px;
  margin-top: 5px;
  background-color: #ddd;
}

.patti:first-child {
  margin-top: 0px;
}

.main {
  background-color: #f2f2f2;
}

.theme {
  text-align: center;
  padding: 250px 0;
}

.maintheme {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  /* margin-bottom: 20px; */
  font-family: "Raleway";
}

.subtheme {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
  font-family: "Raleway";
}

.greenbox {
  padding-top: 50px;
  background-color: #74cfae;
}


.left_img {
  width: 300px;
  float: left;
  margin-left: 50px;
}

.right_text {
  width: 650px;  
  float: right;
  margin-top: 20px;
}

.toptext {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-family: "Raleway";
}

.bottomtext {
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-top: 35px;
}

.article_box {
  padding: 60px 0 70px 0;
}

.center_box {
  /* width:300px; */
  font-size: 0px;
  margin-top: 40px;
}

.article_top_text {
  font-size: 24px;
  text-align: center;
  color: #333;
  font-family: "Raleway"
}

/* .link {
  display: inline-block;
} */

.center_image {
display: inline-block;
margin-right: 100px;
margin-top: 80px;
opacity: 0.7;
transition: 0.3s;
}

.center_image:hover {
  opacity: 1;
}

.center_box > .center_image:nth-child(3n) {
  margin-right: 0;
}

.center_box > .center_image:nth-child(-n+3) {
  margin-top: 0;
}

.latest_box {
  margin-top: 90px;
}

.latest_leftbox {
  width: 570px;
  float: left;
  margin-left: 150px;
}

.latest_text {
  color: #333;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}

.latest_rightbox {
  width:200px;
  float: left;
  margin-left: 90px;
  padding-top: 10px;
}

.latest_mail {
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
  font-family: "Raleway";
}

.latest_mail:hover {
  color: #333;
}

.dark_box {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.skill_mainbox {
  font-size: 0;
  margin-top: 40px;
  text-align: center;
}

.skill_topbox {
  text-align: center;
}

.skill_toptext {
  color: #fff;
  font-size: 24px;
  font-family: "Raleway";
}

.skill_childbox {
  display: inline-block;
  /* text-align: center; */
  margin-left: 180px;
}

.skill_childbox:first-child {
  margin-left: 0px;
}

.skill_text {
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.nav_box {
  padding: 200px 0;
  text-align: center;
  font-size: 0;
}

.icon_content {
  display: inline-block;
}

.nav_icon {
  color: #74cfae;
  font-size: 50px;
  width: 185px;
  padding: 40px 0;
  text-decoration: none;
  transition: 0.3s;
}

.nav_icon:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer_icon {
  color: #fff;
}

.footer_text {
  color: #fff;
  text-align: right;
}




@media screen and (min-width: 768px) and ( max-width:1199px) {
.inner_contents {
  width: 97%;
  background-size: cover;
}

.left_img {
  float: none;
  text-align: center;
  margin: 0 auto;
}

.right_text {
  width: 100%;
  float: none;
  /* text-align: center; */
  /* margin: 0 auto; */
}

.greenbox {
  padding-bottom: 25px;
}

.toptext {
  margin-top: 20px;
}

.latest_text {
  width: 100%;
}

.article_top_text {
  margin-bottom: 40px;
}

.center_box {
  width: 300px;
  margin: 0 auto;
}

.center_image {
  display: block;
  margin: 0px;
}


.center_image:nth-child(4) {
  margin-top: 80px;
}

.latest_box {
  margin-top: 80px;
}

.latest_leftbox {
  width: 100%;
  float: none;
  margin: 0;
}

.latest_rightbox {
  width:100%;
  float: none;
  margin: 40px 0px 0px 0px;
  padding: 0;
  text-align: center;
}

.skill_childbox {
  display: block;
  margin: 88px 0px 0px 0px;
}

.icon_content {
  width: 25%;
}

.nav_icon {
  width: 100%;
}

.skill_childbox:first-child {
  margin-top: 40px;
}
}

@media screen and (max-width: 767px){
.inner_contents {
  width: 97%;
  background-size: cover;
}

.menu_text {
  display: none;
}

.hamburger {
  display: block;
}

.theme {
  padding: 160px 0px 130px 0px;
}

.maintheme {
  font-size: 80px;
}

.subtheme {
  margin-top: 20px;
}


.left_img {
  width: 100%;
  text-align: center;
  float: none;
  margin: 0;
}

.right_text {
  width: 100%;
  float: none;
}

.center_box {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.center_image {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.center_image:nth-child(4) {
  margin-top: 80px;
}

.center_box > .center_image:nth-child(3n) {
  margin: 0 auto;
}


.img_big {
  width: 100%;
}

.latest_leftbox {
  width: 100%;
  float: none;
  margin: 0 auto;
}

.latest_rightbox {
  width: 100%;
  float: none;
  margin: 40px 0px 0px 0px;
  text-align: center;
  padding-top: 0;
}

.skill_childbox {
  display: block;
  text-align: center;
  margin: 88px 0 0 0;
  }

  .skill_childbox:first-child {
    margin-top: 40px;
  }

  .nav_box {
  padding: 50px 0;
  text-align: center;
  }

  .nav_icon {
    width: 100%;
  }

  .icon_content {
  display: block;
}

}